.grid {
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  border: 2px solid white;
}
